# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
dist
out
.turbo

# Environment
.env
.env.local
.env.*.local

# Supabase
supabase/.branches
supabase/.temp

# Misc
.DS_Store
*.pem
.vercel
*.tsbuildinfo
